!!!
%html{ xmlns="http://www.w3.org/1999/xhtml" }
	%head
		%title= ViewData["Title"]
		%link{ href="../../Content/Site.css" rel="stylesheet" type="text/css" }
	%body
		.page
			#header
				#title
					%h1 DotWeb Toolkit
				#menucontainer
					%ul#menu
						%li= Html.ActionLink(string.Format("Mode: {0}", ViewData["Mode"]), "Mode", "Home")
						%li= Html.ActionLink("Simple Sample", "Simple", "Home")
						%li= Html.ActionLink("ExtJs Sample", "ExtJs", "Home")
						%li= Html.ActionLink("Tests", "Tests", "Home")
			#main
				_
				#footer
					DotWeb Sample MVC Application 
					%br
					Copyright &copy; 2009 Frank Laub
